<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.example.base64StrToImageConverter"
      version="0.1.0">
    <name>SaveImage</name>
    <description>Sample PhoneGap SaveImage Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,save image</keywords>


    <js-module src="www/base64StrToImageConverter.js" name="base64StrToImageConverter">
        <clobbers target="window.base64StrToImageConverter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SaveImage">
                <param name="android-package" value="com.example.plugin.SaveImage"/>
            </feature>
        </config-file>

        <source-file src="src/android/SaveImage.java" target-dir="src/com/example/plugin" />      
     </platform>          
</plugin>

